<div>
  <header>
    <img
      src="assets/angular-svgrepo-com.svg"
      alt="angular-logo"
      class="h-28 mx-auto"
    />
    <h2 class="text-3xl text-center font-bold mb-4">Content Projection</h2>
  </header>
  <section class="desktop-set-width">
    <app-basic-content-projection></app-basic-content-projection>
  </section>
  <!-- <section class="desktop-set-width">
    <app-advanced-content-projection></app-advanced-content-projection>
  </section>
  <section class="desktop-set-width">
    <app-multiple-slots-projection></app-multiple-slots-projection>
  </section> -->
</div>
