<div class="w-90vw mx-auto">
  <h2 class="text-3xl font-bold my-4 w-max">CATEGORIES</h2>
  @for (category of categories; track $index) {
  <article
    class="border-l-4 rounded-l-sm border-l-red-500 flex justify-between items-center px-2"
  >
    <div class="w-full">
      <h3 class="font-semibold underline underline-offset-2">
        {{ category.name }}
      </h3>
      <p class="text-slate-800 text-sm">
        {{ category.description }}
      </p>
    </div>
    <button class="bg-red-500 text-white p-1 rounded-sm">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </article>
  }
</div>
