<div class="w-90vw mx-auto">
  <header>
    <img
      src="assets/angular-svgrepo-com.svg"
      alt="angular-logo"
      class="h-28 mx-auto"
    />
    <h2 class="text-3xl text-center font-bold mb-4">Components Essentials</h2>
  </header>
  <section class="desktop-set-width">
    <app-component-basics></app-component-basics>
  </section>
  <section class="desktop-set-width mt-4">
    <app-component-usage></app-component-usage>
  </section>
  <footer class="desktop-set-width">
    <app-additional-resources
      [resources]="resources"
    ></app-additional-resources>
  </footer>
</div>
