/******************************************************************
Tailwind Imports
******************************************************************/
@tailwind base;
@tailwind components;
@tailwind utilities;

/******************************************************************
CSS Reset
******************************************************************/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/***************************************************
Global Styles
****************************************************/
body {
  font-family: "Montserrat";
}

/******************************************************************
Tailwind Custom Utility Classes
******************************************************************/
.custom-question-style {
  @apply font-bold underline underline-offset-2 mb-2;
}

.custom-text-style {
  @apply text-sm text-slate-800;
}

.custom-list-style {
  @apply indent-4 mt-2 flex flex-col gap-2 text-sm text-slate-800;
}

.desktop-set-width {
  @apply lg:w-4/5 lg:mx-auto;
}

.container-custom-settings {
  @apply w-90vw mx-auto lg:w-4/5;
}
