<article>
  <h3 class="font-semibold underline underline-offset-2">
    1. What are components?
  </h3>
  <p class="text-slate-800 text-sm">
    Components are like the individual lego blocks we use to create full
    applications in Angular. This means we can build a tree of components which
    add up to create easily maintained and scalable apps.
  </p>
</article>
<article class="mt-4">
  <h3 class="font-semibold underline underline-offset-2 mb-2">
    2. How are components defined?
  </h3>
  <ul class="text-slate-800 text-sm flex flex-col gap-2">
    <li>Components must have the following:</li>
    <li class="indent-4">
      <i class="fa-solid fa-circle-check pr-2"></i>A &commat;Component decorator
      with meta data and configuration
    </li>
    <li class="indent-4">
      <i class="fa-solid fa-circle-check pr-2"></i>The HTML template for our
      user interface. This maybe inline or a link to separate file
    </li>
    <li class="indent-4">
      <i class="fa-solid fa-circle-check pr-2"></i>A CSS selector that will
      represent our actual component
    </li>
    <li class="indent-4">
      <i class="fa-solid fa-circle-check pr-2"></i>The Typescript class with our
      behaviors, state, input, and data
    </li>
    <li>
      Other important metada are our styles property and a standalone property
      (which is now recommended by the Angular team)
    </li>
  </ul>
</article>
<article class="mt-2">
  <h3 class="font-semibold underline underline-offset-2 mb-2">
    3. Here are some examples:
  </h3>
  <div>
    <app-code-block [code]="codeSnippet"></app-code-block>
    <p class="text-sm text-slate-800">
      This code snippet defines an Angular standalone component named
      MyComponent with the
      <span class="font-semibold">selector</span> my-component. It uses an
      <span class="font-semibold">external </span>HTML file (my-component.html)
      for its template and an
      <span class="font-semibold">external</span>
      CSS file (my-component.css) for its styles. The
      <span class="font-semibold">standalone:</span> true property indicates
      that this component is not part of any Angular module.
    </p>
  </div>
  <section class="mt-4">
    <app-code-block [code]="codeSnippetInline"></app-code-block>
    <h4 class="text-sm text-slate-800">
      On the contrary, here we see an example that uses
      <span class="font-semibold">inline</span> styles and
      <span class="font-semibold">inline</span>
      templates. I have received mixed answers to the question of up to what
      point should we stop using these inline options. Personally, I find it
      much easier to separate the the three and that does seem to be the most
      recommended approach.
    </h4>
  </section>
</article>
